.admin{
    padding:7%;
    display:flex;
}
.admin-1{
    width:40%;
}
.admin-2{
    width:100%;
}
.index-admin1,.index-add1{
    background-color: #e8e9eb;
    padding:5%;
    margin:0 0 1% 0;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Bebas Neue';
    font-size: 20px;
}
.index-admin2,.index-add2{
    background-color: gold;
    padding:5%;
    margin:0 0 1% 0;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Bebas Neue';
    font-size: 20px;
}
.index-admin1:hover{
    background-color: rgb(183, 181, 181);
    transition: 0.5s;
}
.index-add1,.index-add2{
    display:flex;
    justify-content: space-between;
}
.index-add-2{
    padding:0 5% 0 0
}

/* ORDER , RETURN , ALL PRODUCTS*/
.order{
    padding:0 0 1% 1%;
}
.main-admin-order{
    display:flex;
    background-color: #e8e9eb;
    border-radius: 5px;
}
.admin-order-image{
    width:20%;
    padding:2%;
}
.admin-img-tag{
    width:100%;
}
.admin-order-content{
    font-family:'Oswald';
    padding:2%;
    font-size: 18px;
}
.admin-order-size,.admin-order-quantity,.admin-order-price{
    padding:0 10% 0 0
}
.admin-order-content-2{
    display:flex;
    padding:5% 0 0 0;
}
.admin-sep{
    padding:0 1% 0 1%
}
.admin-order-user{
    padding:7% 0 0 0;
}
.admin-returns{
    padding: 0 0 1% 1%;
}
.admin-all{
    padding:0 0 1% 1%;
}
.admin-trash{
    width:100%;
    display: flex;
    justify-content: end;
}
.admin-order-image-all{
    width:30%;
    padding:1%;
}
.remove-admin-modal{
    position:fixed;
    background-color: rgba(0,0,0,0.8);
    width:100vw;
    height: 100vh;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.admin-modal-main{
    background-color: white;
    width:40%;
}
.admin-modal-cancel{
    display:flex;
    justify-content: end;
}
.admin-modal-content-main{
    display:flex;
    padding:4%;
}
.admin-image-1{
    width:50%;
}
.modal-image{
    width:90%;
}
.modal-remove-heading{
    font-family: 'Bebas Neue';
    text-align: center;
    font-size: 30px;
}
.admin-modal-content-main{
    font-family: 'Oswald';
}
.admin-model-content-3{
    width:100%;
}
.modal-choice{
    padding:3%;
    display:flex;
}
.modal-btns-1,.modal-btns-2{
    border:none;
    width:100%;
    font-family: 'Bebas Neue';
    padding:3%;
}
.modal-btns-1:hover{
    background-color: gold;
    transition:0.5s;
}
.modal-btns-2:hover{
    background-color: gold;
    transition:0.5s;
}

/* ADD PRODUCTS */
/* .add-products-bg{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    z-index:99;
} */

.add-main{
    background-color: white;
    width:100%;
    font-family: 'Oswald';
    padding:0 2% 2% 2%;
    /* padding:2% */
    /* height:100%; */
}
.add-content-1{
    display:flex;
    
    padding:1%;
}
#add-image-tag{
    opacity: 0;
    width:100%;
}
.image-space{
    max-width:100%;
}
.add-img-tag{
    max-width:100%;
}
.add-image-label1,.add-image-label2{
    position:relative;
    width:100%;
}
.add-image-1{
    max-width:300px;
    height: 100%;
    margin:0 0 1% 0;
}

.image-plus{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5%;
    margin:0 0 3% 0;
    background-color: rgb(189, 186, 186);    
    cursor: pointer;
}
.image-plus:hover{
    background-color: grey;
}
.add-category-select{
    display:flex;
}
.add-sub-content{
    width:100%;
}
.add-pro-btn{
    display:flex;
    justify-content: end;
}
.add-content-2{
    height: 100%;
    width:100%;
}
.add-available,.add-mrp,.add-price,.add-size,.add-name{
    display: flex;
    padding:2% 5% 0 5%;
}
.add-category-select-idvl{
    padding:2% 3% 0 0;
}
.add-category{
    padding:2% 5% 0% 5%;
}
.add-category label{
    padding: 0 0 3% 0
}
.add-input{
    outline: none;
    border:none;
    border-bottom: 1px solid black;
    margin:0 0 0 2%

}
.add-new-class{
    font-size: 18px;
}
.select-add{
    padding:5%;
}

.select-option{
    padding:2%;
}
.add-content-2-head{
    text-align: center;
    padding:2% 0 0 0;
    font-size: 30px;
    font-family: 'Bebas Neue';
}
.add-advantage{
    display:flex;
    padding:1%;
    width:100%;
}
.advs-label{
    padding:0 1% 0 0;
}
.advs-con{
    width:100%;
}
.adv-heading{
    display: flex;
    width:100%;
    padding:0 0 1% 0;
}
.adv-content{
    display:flex;
    width:100%;
}
.adv-con-input{
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    width:90%;
    margin:0 0 0 1%;
}
.add-pro-btn{
    padding:0% 3% 2% 0;
}
.add-btn{
    padding:1% 3% 1% 3%;
    border:none;
    background-color: #349beb;
    color:white;
    border-radius: 5px;
}
.add-technical{
    padding:2%;
}
.add-technical-head{
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 30px;
    padding:0 0 3% 0 
}
.add-label{
    font-size:20px;
    width:30%;
}
.add-item{
    display: flex;
    width:100%;
    padding:1% 0 1% 0;
}
.add-span{
    padding:0.3% 3% 0 0%;
    font-size: 18px;
}
.tech-input-div{
    width:100%;
}
.tech-input{
    outline:none;
    border:none;
    border-bottom: 1px solid black;
    padding:0% 0 0 0;
    width:80%;
}

.add-btn-1{
    border:none;
    border-radius: 5px;
    padding: 0 2% 0 2%;
    margin:0 0 0 1%;
    background-color: gold;
    color:white
}
.add-btn-1:hover{
    background-color: goldenrod;
}
.add-btn:hover{
    background-color:#186aa8;
}

@media screen and (max-width:650px){
    .admin{
        display:block
    }
    .index-admin1,.index-admin2{
        width:100%;
    }
    .admin-1{
        width:100%;
    }
    .add-content-1{
        display:block
    }
}