.checkout{
    padding:7%;
    display:flex
}
.check-address{
    width:100%;
    padding:1%;
}
.order-total{
    width:100%;
    padding:1%;
}
.check-address-1{
    display:flex;
    justify-content: space-between;
    font-size:18px;
    background-color: #e8e9eb;
    padding:2% 3% 2% 3%;
    border-radius: 5px;
}
.address-chose{
    font-family: 'Oswald';
}
.address-add-new{
    font-family:'Bebas Neue';
    color:#349beb;
    cursor:pointer;
}
.addresses{
    padding:3% 0 0 0;
    font-family: 'Oswald';
    color:rgb(93, 92, 92);
}
.address-ind{
    margin:0 0 2% 0;
    background-color: #e8e9eb;
    padding:2% 3% 2% 3%;
    cursor: pointer;
    border-radius: 10px;
}
.address-ind-act,.delivery-address{
    margin:0 0 2% 0;
    background-color: gold;
    padding:2% 3% 2% 3%;
    cursor: pointer;
    font-family:'Oswald';
    border-radius: 10px;
}
.delivery-address{
    background-color: white;
}
.address-ind:hover{
    background-color: rgb(193, 192, 192);
}
.total-cost{
    display:flex;
    justify-content: space-between;
}
.check-delivery{
    display:flex;
    justify-content: space-between;
}
.check-total{
    display:flex;
    justify-content: space-between;
}
.order-info{
    display:flex;
    background-color: #e8e9eb;
    padding:2% 1% 2% 2%;
    border-radius: 5px;
    margin: 0 0 1% 0;
}
.order-image{
    width:15%;
}
.order-img{
    width:100%;
}
.order-content{
    width:100%;
}
.order-content-1{
    display:flex;
    width:100%;
    font-family:'Oswald'
}
.order-name{
    width:100%;
    padding:0 0 4% 2%;
    font-family: 'Oswald';
}
.order-size{
    width:100%;
}
.order-qty{
    width:100%;
}
.order-price{
    width:100%
}
.check-cost{
    background-color: #e8e9eb;
    padding: 2%;
    font-family: 'Oswald';
    border-radius: 5px;
}
.total-cost-label,.check-delivery,.check-total{
    padding:1% 0 1% 0;
}
.check-delivery{
    border-bottom: 1px solid white;
}
.checkout-confirm{
    background-color: aquamarine;
    padding:3%;
    border-radius: 5px;
}
.delivery-head{
    font-family:'Oswald';
    padding:0 0 2% 0;
}
.delivery-date{
    font-family: 'Oswald';
    padding:0 0 1% 0;
}
.delivery-pin{
    padding:0 0 1% 0;
    font-family: 'Oswald';
}
.proceed{
    width:100%;
}
.proceed-btn{
    width:100%;
    border:none;
    background-image: linear-gradient(to right,rgb(245, 232, 56),rgb(247, 162, 49));
    padding:2%;
    margin:1% 0 0 0;
    border-radius: 5px;
    font-family: 'Bebas Neue';
    font-size:20px
}

.confirm-bg{
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    z-index:99;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
}
.confirm-modal{
    background-color: white;
    padding:3%;
}

.confirm-text-1{
    font-family: 'Oswald';
    font-size:25px;
    padding:0 0 3% 0;
}
.confirm-text-2{
    text-align: center;
    font-family:'Bebas Neue';
    color:red;
    padding:0 0 3% 0;
    font-size:20px;
}

.confirm-btns{
    width:100%;
    display:flex;
    justify-content: center;
}
.confirm-b1{
    width:100%;
    padding:1%;
    text-align: center;
    font-family: 'Bebas Neue';
    border:none;
    margin:0 1% 0 0;
}
.confirm-b2{
    width:100%;
    padding:1%;
    text-align: center;
    font-family: 'Bebas Neue';
    border:none;
    margin:0 0 0 1%;
}
.confirm-b1:hover{
    background-color: rgb(205, 202, 202);
    transition: 0.5s;
}
.confirm-b2:hover{
    background-color: rgb(205, 202, 202);
    transition: 0.5s;
}

@media screen and (max-width:650px){
    .checkout{
        display:block
    }
    .proceed-btn{
        position:fixed;
        bottom:0;
        left:0;
        z-index: 99;
    }
}